In [381]:
import pandas as pd
import numpy as np
import timeit as tt
import datetime as dt

### Pandas

In [382]:
starttime = tt.default_timer()
df = pd.read_csv('household_power_consumption.txt', sep=';')
print(tt.default_timer()-starttime)
df.head()

1.4141667999938363

C:\Users\student05\AppData\Local\Temp\ipykernel_12268\1259816714.py:2: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('household_power_consumption.txt', sep=';')

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [383]:
starttime = tt.default_timer()
(df=='?').sum()
print(tt.default_timer()-starttime)

0.5908320000016829

In [384]:
starttime = tt.default_timer()
df.drop(index = df[df['Global_active_power']=="?"]['Global_active_power'].index, inplace=True)
print(tt.default_timer()-starttime)

0.2000079999997979

In [385]:
starttime = tt.default_timer()
(df=='?').sum()
print(tt.default_timer()-starttime)

0.5851756999982172

In [386]:
#Convert
starttime = tt.default_timer()
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_timedelta(df['Time'])
df['Global_active_power'] = df['Global_active_power'].astype(np.float64)
df['Global_reactive_power'] = df['Global_reactive_power'].astype(np.float64)
df['Voltage'] = df['Voltage'].astype(np.float64)
df['Global_intensity'] = df['Global_intensity'].astype(np.float64)
df['Sub_metering_1'] = df['Sub_metering_1'].astype(np.float64)
df['Sub_metering_2'] = df['Sub_metering_2'].astype(np.float64)
print(tt.default_timer()-starttime)

C:\Users\student05\AppData\Local\Temp\ipykernel_12268\3811351180.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'])

3.192110700001649

In [387]:
df.dtypes

Date                      datetime64[ns]
Time                     timedelta64[ns]
Global_active_power              float64
Global_reactive_power            float64
Voltage                          float64
Global_intensity                 float64
Sub_metering_1                   float64
Sub_metering_2                   float64
Sub_metering_3                   float64
dtype: object

1. Обрати всі домогосподарства, у яких загальна активна споживана
потужність перевищує 5 кВт.

In [388]:
starttime = tt.default_timer()
res = df[df['Global_active_power']>5]

print(tt.default_timer()-starttime)
print(res)

0.016056500004197005
              Date            Time  Global_active_power  \
1       2006-12-16 0 days 17:25:00                5.360
2       2006-12-16 0 days 17:26:00                5.374
3       2006-12-16 0 days 17:27:00                5.388
11      2006-12-16 0 days 17:35:00                5.412
12      2006-12-16 0 days 17:36:00                5.224
...            ...             ...                  ...
2069356 2010-11-22 0 days 18:40:00                5.408
2069357 2010-11-22 0 days 18:41:00                5.528
2071586 2010-11-24 0 days 07:50:00                5.172
2071587 2010-11-24 0 days 07:51:00                5.750
2072997 2010-11-25 0 days 07:21:00                5.074

         Global_reactive_power  Voltage  Global_intensity  Sub_metering_1  \
1                        0.436   233.63              23.0             0.0
2                        0.498   233.29              23.0             0.0
3                        0.502   233.74              23.0             0.0
11                       0.470   232.78              23.2             0.0
12                       0.478   232.99              22.4             0.0
...                        ...      ...               ...             ...
2069356                  0.150   231.50              23.6            48.0
2069357                  0.144   232.48              24.6            53.0
2071586                  0.050   235.18              22.0             0.0
2071587                  0.000   234.40              24.6             0.0
2072997                  0.240   238.55              21.4             1.0

         Sub_metering_2  Sub_metering_3
1                   1.0            16.0
2                   2.0            17.0
3                   1.0            17.0
11                  1.0            17.0
12                  1.0            16.0
...                 ...             ...
2069356             0.0             0.0
2069357             0.0             0.0
2071586            38.0            17.0
2071587            39.0            17.0
2072997             2.0            18.0

[17547 rows x 9 columns]

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [389]:
starttime = tt.default_timer()
res = df[df['Voltage']>235]

print(tt.default_timer()-starttime)
print(res)

0.10783639999863226
              Date            Time  Global_active_power  \
4       2006-12-16 0 days 17:28:00                3.666
5       2006-12-16 0 days 17:29:00                3.520
6       2006-12-16 0 days 17:30:00                3.702
7       2006-12-16 0 days 17:31:00                3.700
14      2006-12-16 0 days 17:38:00                4.054
...            ...             ...                  ...
2075254 2010-11-26 0 days 20:58:00                0.946
2075255 2010-11-26 0 days 20:59:00                0.944
2075256 2010-11-26 0 days 21:00:00                0.938
2075257 2010-11-26 0 days 21:01:00                0.934
2075258 2010-11-26 0 days 21:02:00                0.932

         Global_reactive_power  Voltage  Global_intensity  Sub_metering_1  \
4                        0.528   235.68              15.8             0.0
5                        0.522   235.02              15.0             0.0
6                        0.520   235.09              15.8             0.0
7                        0.520   235.22              15.8             0.0
14                       0.422   235.24              17.6             0.0
...                        ...      ...               ...             ...
2075254                  0.000   240.43               4.0             0.0
2075255                  0.000   240.00               4.0             0.0
2075256                  0.000   239.82               3.8             0.0
2075257                  0.000   239.70               3.8             0.0
2075258                  0.000   239.55               3.8             0.0

         Sub_metering_2  Sub_metering_3
4                   1.0            17.0
5                   2.0            17.0
6                   1.0            17.0
7                   1.0            17.0
14                  1.0            17.0
...                 ...             ...
2075254             0.0             0.0
2075255             0.0             0.0
2075256             0.0             0.0
2075257             0.0             0.0
2075258             0.0             0.0

[1952491 rows x 9 columns]

3. Обрати всі домогосподарства, у яких сила струму лежить в межах
19-20 А, для них виявити ті, у яких пральна машина та холодильних
споживають більше, ніж бойлер та кондиціонер.

In [390]:
starttime = tt.default_timer()
i_19_20 = df[df.Global_intensity.between(19, 20)]
print('A 19-20')
print(i_19_20)
gr2 = i_19_20[i_19_20['Sub_metering_2']>i_19_20['Sub_metering_3']]
print(tt.default_timer()-starttime)
print('Sub_metering_2 max:')
gr2

A 19-20
              Date            Time  Global_active_power  \
10      2006-12-16 0 days 17:34:00                4.448
24      2006-12-16 0 days 17:48:00                4.474
33      2006-12-16 0 days 17:57:00                4.512
45      2006-12-16 0 days 18:09:00                4.464
52      2006-12-16 0 days 18:16:00                4.524
...            ...             ...                  ...
2071589 2010-11-24 0 days 07:53:00                4.666
2071590 2010-11-24 0 days 07:54:00                4.694
2071591 2010-11-24 0 days 07:55:00                4.602
2071592 2010-11-24 0 days 07:56:00                4.536
2071593 2010-11-24 0 days 07:57:00                4.626

         Global_reactive_power  Voltage  Global_intensity  Sub_metering_1  \
10                       0.498   232.86              19.6             0.0
24                       0.000   234.96              19.4             0.0
33                       0.000   233.62              19.2             0.0
45                       0.136   234.66              19.0             0.0
52                       0.076   234.20              19.6             0.0
...                        ...      ...               ...             ...
2071589                  0.000   235.72              19.8             0.0
2071590                  0.000   236.78              19.8             0.0
2071591                  0.000   237.08              19.4             0.0
2071592                  0.000   237.03              19.0             0.0
2071593                  0.000   236.78              19.4             0.0

         Sub_metering_2  Sub_metering_3
10                  1.0            17.0
24                  0.0            17.0
33                  0.0            17.0
45                 37.0            16.0
52                  9.0            17.0
...                 ...             ...
2071589            39.0            17.0
2071590            39.0            18.0
2071591            40.0            17.0
2071592            39.0            17.0
2071593            39.0            17.0

[7021 rows x 9 columns]
0.014128199996775948
Sub_metering_2 max:

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,0 days 18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,0 days 01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,0 days 01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,0 days 01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,0 days 01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,2010-11-24,0 days 07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24,0 days 07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24,0 days 07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24,0 days 07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24,0 days 07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

4. Обрати випадковим чином 500000 домогосподарств (без повторів
елементів вибірки), для них обчислити середні величини усіх 3-х
груп споживання електричної енергії

In [391]:
starttime = tt.default_timer()
df1 = df.loc[np.random.choice(df.index, size=50000, replace=False)]
print('Random:')
print(df1)
df2 = (df1['Sub_metering_1']+df1['Sub_metering_2']+df1['Sub_metering_3'])/3
print(tt.default_timer()-starttime)
print('Aver:')
print(df2)

Random:
              Date            Time  Global_active_power  \
265182  2007-06-18 0 days 21:06:00                0.300
52064   2007-01-21 0 days 21:08:00                6.806
107775  2007-03-01 0 days 13:39:00                0.386
625901  2008-02-24 0 days 09:05:00                1.366
311978  2007-07-21 0 days 09:02:00                1.198
...            ...             ...                  ...
1796023 2010-05-16 0 days 23:07:00                1.438
1036233 2008-12-05 0 days 07:57:00                2.726
1862922 2010-07-02 0 days 10:06:00                0.398
1415844 2009-08-25 0 days 22:48:00                1.364
1474018 2009-10-05 0 days 08:22:00                1.274

         Global_reactive_power  Voltage  Global_intensity  Sub_metering_1  \
265182                   0.232   242.23               1.6             0.0
52064                    0.284   235.54              29.0            43.0
107775                   0.228   241.02               1.8             0.0
625901                   0.092   238.86               5.6             0.0
311978                   0.060   234.26               5.0             0.0
...                        ...      ...               ...             ...
1796023                  0.068   240.73               6.0             0.0
1036233                  0.176   238.45              11.4             0.0
1862922                  0.238   239.55               2.0             0.0
1415844                  0.122   241.28               5.6             0.0
1474018                  0.054   239.48               5.2             0.0

         Sub_metering_2  Sub_metering_3
265182              1.0             0.0
52064              18.0            17.0
107775              0.0             0.0
625901              0.0            17.0
311978              0.0            17.0
...                 ...             ...
1796023             0.0            18.0
1036233             0.0            17.0
1862922             2.0             1.0
1415844             0.0            19.0
1474018             0.0            18.0

[50000 rows x 9 columns]
0.13337550000142073
Aver:
265182      0.333333
52064      26.000000
107775      0.000000
625901      5.666667
311978      5.666667
             ...
1796023     6.000000
1036233     5.666667
1862922     1.000000
1415844     6.333333
1474018     6.000000
Length: 50000, dtype: float64

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6
кВт за хвилину в середньому, серед відібраних визначити ті, у яких
основне споживання електроенергії у вказаний проміжок часу
припадає на пральну машину, сушарку, холодильник та освітлення
(група 2 є найбільшою), а потім обрати кожен третій результат із
першої половини та кожен четвертий результат із другої половини.

In [392]:
starttime = tt.default_timer()
after_18 = df[(pd.Timedelta("18 hours")<df['Time']) & (df['Global_active_power']>5)]
print('After 18 oclock:')
print(after_18)
group_2_max = after_18[(after_18['Sub_metering_2']>after_18['Sub_metering_1']) & (after_18['Sub_metering_2']>after_18['Sub_metering_3'])]
group_2_max = group_2_max.reset_index(drop=True)
print('group 2:')
print(group_2_max)
n = round(len(group_2_max.index)/2)
part1 = ((group_2_max.iloc[:n]).reset_index(drop=True)).iloc[::3]
part2 = ((group_2_max.iloc[n:]).reset_index(drop=True)).iloc[::4]
print('1 part:')
print(part1)
print('2 part')
print(part2)
print(tt.default_timer()-starttime)

After 18 oclock:
              Date            Time  Global_active_power  \
41      2006-12-16 0 days 18:05:00                6.052
42      2006-12-16 0 days 18:06:00                6.752
43      2006-12-16 0 days 18:07:00                6.474
44      2006-12-16 0 days 18:08:00                6.308
71      2006-12-16 0 days 18:35:00                6.072
...            ...             ...                  ...
2069353 2010-11-22 0 days 18:37:00                5.476
2069354 2010-11-22 0 days 18:38:00                5.928
2069355 2010-11-22 0 days 18:39:00                5.454
2069356 2010-11-22 0 days 18:40:00                5.408
2069357 2010-11-22 0 days 18:41:00                5.528

         Global_reactive_power  Voltage  Global_intensity  Sub_metering_1  \
41                       0.192   232.93              26.2             0.0
42                       0.186   232.12              29.0             0.0
43                       0.144   231.85              27.8             0.0
44                       0.116   232.25              27.0             0.0
71                       0.000   232.48              26.4             0.0
...                        ...      ...               ...             ...
2069353                  0.150   231.23              24.0            49.0
2069354                  0.148   231.08              26.0            57.0
2069355                  0.152   231.73              23.8            50.0
2069356                  0.150   231.50              23.6            48.0
2069357                  0.144   232.48              24.6            53.0

         Sub_metering_2  Sub_metering_3
41                 37.0            17.0
42                 36.0            17.0
43                 37.0            16.0
44                 36.0            17.0
71                 27.0            17.0
...                 ...             ...
2069353             0.0             0.0
2069354             0.0             0.0
2069355             0.0             0.0
2069356             0.0             0.0
2069357             0.0             0.0

[10016 rows x 9 columns]
group 2:
           Date            Time  Global_active_power  Global_reactive_power  \
0    2006-12-16 0 days 18:05:00                6.052                  0.192
1    2006-12-16 0 days 18:06:00                6.752                  0.186
2    2006-12-16 0 days 18:07:00                6.474                  0.144
3    2006-12-16 0 days 18:08:00                6.308                  0.116
4    2006-12-16 0 days 18:35:00                6.072                  0.000
...         ...             ...                  ...                    ...
3138 2010-11-20 0 days 18:48:00                5.800                  0.222
3139 2010-11-20 0 days 18:49:00                6.210                  0.174
3140 2010-11-20 0 days 18:50:00                5.998                  0.144
3141 2010-11-20 0 days 18:52:00                6.364                  0.126
3142 2010-11-20 0 days 18:53:00                5.226                  0.162

      Voltage  Global_intensity  Sub_metering_1  Sub_metering_2  \
0      232.93              26.2             0.0            37.0
1      232.12              29.0             0.0            36.0
2      231.85              27.8             0.0            37.0
3      232.25              27.0             0.0            36.0
4      232.48              26.4             0.0            27.0
...       ...               ...             ...             ...
3138   230.24              25.4             8.0            40.0
3139   228.82              27.4            21.0            34.0
3140   230.28              26.8            22.0            30.0
3141   229.38              28.2            17.0            34.0
3142   230.28              23.2            18.0            20.0

      Sub_metering_3
0               17.0
1               17.0
2               16.0
3               17.0
4               17.0
...              ...
3138            16.0
3139            17.0
3140            16.0
3141            16.0
3142            17.0

[3143 rows x 9 columns]
1 part:
           Date            Time  Global_active_power  Global_reactive_power  \
0    2006-12-16 0 days 18:05:00                6.052                  0.192
3    2006-12-16 0 days 18:08:00                6.308                  0.116
6    2006-12-18 0 days 19:31:00                6.158                  0.442
9    2006-12-19 0 days 20:24:00                5.150                  0.578
12   2006-12-28 0 days 18:58:00                5.428                  0.180
...         ...             ...                  ...                    ...
1557 2007-12-23 0 days 19:11:00                6.736                  0.260
1560 2007-12-23 0 days 19:16:00                5.036                  0.452
1563 2007-12-23 0 days 19:19:00                5.942                  0.444
1566 2007-12-23 0 days 19:29:00                9.686                  0.410
1569 2007-12-23 0 days 19:37:00                6.024                  0.626

      Voltage  Global_intensity  Sub_metering_1  Sub_metering_2  \
0      232.93              26.2             0.0            37.0
3      232.25              27.0             0.0            36.0
6      229.08              27.0             0.0            36.0
9      238.97              21.8             0.0            37.0
12     235.41              23.0             0.0            38.0
...       ...               ...             ...             ...
1557   231.57              29.0             0.0            71.0
1560   233.46              21.6             0.0            36.0
1563   233.13              25.4             0.0            37.0
1566   231.01              42.0            36.0            64.0
1569   233.53              25.8             1.0            37.0

      Sub_metering_3
0               17.0
3               17.0
6                0.0
9                0.0
12              17.0
...              ...
1557             0.0
1560             0.0
1563            17.0
1566            17.0
1569            17.0

[524 rows x 9 columns]
2 part
           Date            Time  Global_active_power  Global_reactive_power  \
0    2007-12-23 0 days 19:42:00                5.172                  0.462
4    2007-12-23 0 days 19:48:00                5.960                  0.372
8    2007-12-23 0 days 19:52:00                5.124                  0.396
12   2007-12-23 0 days 19:57:00                5.332                  0.382
16   2007-12-27 0 days 19:41:00                5.686                  0.276
...         ...             ...                  ...                    ...
1552 2010-11-20 0 days 18:34:00                6.266                  0.360
1556 2010-11-20 0 days 18:38:00                6.302                  0.376
1560 2010-11-20 0 days 18:42:00                6.238                  0.344
1564 2010-11-20 0 days 18:46:00                6.438                  0.308
1568 2010-11-20 0 days 18:50:00                5.998                  0.144

      Voltage  Global_intensity  Sub_metering_1  Sub_metering_2  \
0      237.46              22.0             1.0            32.0
4      235.22              25.4             1.0            38.0
8      235.77              21.8             0.0            25.0
12     235.26              22.8             0.0            26.0
16     233.45              24.4             1.0            35.0
...       ...               ...             ...             ...
1552   229.82              27.6            14.0            35.0
1556   229.65              27.8            15.0            34.0
1560   229.37              27.6            14.0            35.0
1564   229.26              28.4            13.0            39.0
1568   230.28              26.8            22.0            30.0

      Sub_metering_3
0               18.0
4               17.0
8               17.0
12              17.0
16              17.0
...              ...
1552            16.0
1556            17.0
1560            16.0
1564            16.0
1568            16.0

[393 rows x 9 columns]
0.030402299998968374

### Numpy

In [393]:
starttime = tt.default_timer()
darray = np.loadtxt("household_power_consumption.txt",delimiter=";", dtype=str,skiprows=1)
print(tt.default_timer()-starttime)
print(darray)

4.833040700003039
[['16/12/2006' '17:24:00' '4.216' ... '0.000' '1.000' '17.000']
 ['16/12/2006' '17:25:00' '5.360' ... '0.000' '1.000' '16.000']
 ['16/12/2006' '17:26:00' '5.374' ... '0.000' '2.000' '17.000']
 ...
 ['26/11/2010' '21:00:00' '0.938' ... '0.000' '0.000' '0.000']
 ['26/11/2010' '21:01:00' '0.934' ... '0.000' '0.000' '0.000']
 ['26/11/2010' '21:02:00' '0.932' ... '0.000' '0.000' '0.000']]

In [394]:
starttime = tt.default_timer()
darray = np.delete(darray,np.unique(np.where(darray == '?')[0]),axis=0)
print(tt.default_timer()-starttime)

0.39699749999999767

In [395]:
starttime = tt.default_timer()
for i in range(darray.shape[0]):
    right_f = dt.datetime.strptime(darray[i,0],'%d/%m/%Y')
    darray[i,0] = np.datetime64(right_f)
print(tt.default_timer()-starttime)

16.54553229999874

In [396]:
starttime = tt.default_timer()
for i in range(darray.shape[0]):
    darray[i,1] = darray[i,1].split(":")[0]
print(tt.default_timer()-starttime)

1.5630533000003197

1. Обрати всі домогосподарства, у яких загальна активна споживана
потужність перевищує 5 кВт.

In [397]:
starttime = tt.default_timer()
res = darray[darray[:,2].astype(float)>5]
print(tt.default_timer()-starttime)
print(res)

0.8931252999973367
[['2006-12-16' '17' '5.360' ... '0.000' '1.000' '16.000']
 ['2006-12-16' '17' '5.374' ... '0.000' '2.000' '17.000']
 ['2006-12-16' '17' '5.388' ... '0.000' '1.000' '17.000']
 ...
 ['2010-11-24' '07' '5.172' ... '0.000' '38.000' '17.000']
 ['2010-11-24' '07' '5.750' ... '0.000' '39.000' '17.000']
 ['2010-11-25' '07' '5.074' ... '1.000' '2.000' '18.000']]

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [398]:
starttime = tt.default_timer()
res = darray[darray[:,4].astype('float')>235]
print(tt.default_timer()-starttime)
print(res)

1.0511530000003404
[['2006-12-16' '17' '3.666' ... '0.000' '1.000' '17.000']
 ['2006-12-16' '17' '3.520' ... '0.000' '2.000' '17.000']
 ['2006-12-16' '17' '3.702' ... '0.000' '1.000' '17.000']
 ...
 ['2010-11-26' '21' '0.938' ... '0.000' '0.000' '0.000']
 ['2010-11-26' '21' '0.934' ... '0.000' '0.000' '0.000']
 ['2010-11-26' '21' '0.932' ... '0.000' '0.000' '0.000']]

3. Обрати всі домогосподарства, у яких сила струму лежить в межах
19-20 А, для них виявити ті, у яких пральна машина та холодильних
споживають більше, ніж бойлер та кондиціонер.

In [399]:
starttime = tt.default_timer()
gr1 = darray[(darray[:,5].astype('float')>19) & (darray[:,5].astype('float')<20)]
print('A 19-20:')
print(gr1)
res = darray[darray[:,7].astype('float64')>darray[:,8].astype('float64')]
print(tt.default_timer()-starttime)
print('Sub_metering2 max:')
print(res)

A 19-20:
[['2006-12-16' '17' '4.448' ... '0.000' '1.000' '17.000']
 ['2006-12-16' '17' '4.474' ... '0.000' '0.000' '17.000']
 ['2006-12-16' '17' '4.512' ... '0.000' '0.000' '17.000']
 ...
 ['2010-11-24' '07' '4.694' ... '0.000' '39.000' '18.000']
 ['2010-11-24' '07' '4.602' ... '0.000' '40.000' '17.000']
 ['2010-11-24' '07' '4.626' ... '0.000' '39.000' '17.000']]
3.576619200001005
Sub_metering2 max:
[['2006-12-16' '18' '4.928' ... '0.000' '37.000' '16.000']
 ['2006-12-16' '18' '6.052' ... '0.000' '37.000' '17.000']
 ['2006-12-16' '18' '6.752' ... '0.000' '36.000' '17.000']
 ...
 ['2010-11-26' '20' '0.948' ... '0.000' '1.000' '0.000']
 ['2010-11-26' '20' '1.198' ... '0.000' '1.000' '0.000']
 ['2010-11-26' '20' '1.024' ... '0.000' '1.000' '0.000']]

4. Обрати випадковим чином 500000 домогосподарств (без повторів
елементів вибірки), для них обчислити середні величини усіх 3-х
груп споживання електричної енергії

In [400]:
starttime = tt.default_timer()
indexes = np.random.choice(len(darray), size=500000, replace=True, p=None)
random = darray[indexes,:]
print('Random')
print(random)
th_group = np.array([random[:,-1].astype('float'),random[:,-2].astype('float'),random[:,-3].astype('float')])
av = np.average(th_group, 0)
print('Average:')
print(av)
print(tt.default_timer()-starttime)

Random
[['2009-04-09' '15' '0.368' ... '0.000' '0.000' '1.000']
 ['2007-02-28' '18' '1.268' ... '0.000' '0.000' '17.000']
 ['2010-11-07' '10' '1.632' ... '0.000' '0.000' '18.000']
 ...
 ['2010-02-08' '20' '2.874' ... '0.000' '1.000' '18.000']
 ['2010-04-09' '10' '1.524' ... '0.000' '1.000' '18.000']
 ['2007-03-16' '11' '0.228' ... '0.000' '0.000' '0.000']]
Average:
[0.33333333 5.66666667 6.         ... 6.33333333 6.33333333 0.        ]
0.7482500999976764

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6
кВт за хвилину в середньому, серед відібраних визначити ті, у яких
основне споживання електроенергії у вказаний проміжок часу
припадає на пральну машину, сушарку, холодильник та освітлення
(група 2 є найбільшою), а потім обрати кожен третій результат із
першої половини та кожен четвертий результат із другої половини.

In [401]:
starttime = tt.default_timer()
househ18 = darray[(darray[:,1].astype('timedelta64')>=np.timedelta64(18,'h')) & (darray[:,2].astype('float64')>5)]
print('After 18 oclock')
print(househ18)
gr2_max = househ18[(househ18[:,-2].astype('float')>househ18[:,-3].astype('float')) 
                   & (househ18[:,-2].astype('float')>househ18[:,-1].astype('float'))]
print('max 2 group')
print(gr2_max)
n = round(len(gr2_max)/2)
res1 = (gr2_max[:n,:])[::3,:]
res2 = (gr2_max[n:,:])[::4,:]
print('part1:(every 3)')
print(res1)
print('part2:(every 4)')
print(res2)
print(tt.default_timer()-starttime)

After 18 oclock
[['2006-12-16' '18' '6.052' ... '0.000' '37.000' '17.000']
 ['2006-12-16' '18' '6.752' ... '0.000' '36.000' '17.000']
 ['2006-12-16' '18' '6.474' ... '0.000' '37.000' '16.000']
 ...
 ['2010-11-22' '18' '5.454' ... '50.000' '0.000' '0.000']
 ['2010-11-22' '18' '5.408' ... '48.000' '0.000' '0.000']
 ['2010-11-22' '18' '5.528' ... '53.000' '0.000' '0.000']]
max 2 group
[['2006-12-16' '18' '6.052' ... '0.000' '37.000' '17.000']
 ['2006-12-16' '18' '6.752' ... '0.000' '36.000' '17.000']
 ['2006-12-16' '18' '6.474' ... '0.000' '37.000' '16.000']
 ...
 ['2010-11-20' '18' '5.998' ... '22.000' '30.000' '16.000']
 ['2010-11-20' '18' '6.364' ... '17.000' '34.000' '16.000']
 ['2010-11-20' '18' '5.226' ... '18.000' '20.000' '17.000']]
part1:(every 3)
[['2006-12-16' '18' '6.052' ... '0.000' '37.000' '17.000']
 ['2006-12-16' '18' '6.308' ... '0.000' '36.000' '17.000']
 ['2006-12-18' '19' '6.158' ... '0.000' '36.000' '0.000']
 ...
 ['2007-12-23' '19' '7.378' ... '22.000' '36.000' '16.000']
 ['2007-12-23' '19' '6.094' ... '1.000' '37.000' '16.000']
 ['2007-12-23' '19' '6.312' ... '16.000' '39.000' '17.000']]
part2:(every 4)
[['2007-12-23' '19' '8.116' ... '37.000' '38.000' '16.000']
 ['2007-12-23' '19' '5.640' ... '6.000' '21.000' '17.000']
 ['2007-12-23' '19' '5.738' ... '0.000' '31.000' '17.000']
 ...
 ['2010-11-20' '18' '6.238' ... '14.000' '35.000' '16.000']
 ['2010-11-20' '18' '6.438' ... '13.000' '39.000' '16.000']
 ['2010-11-20' '18' '5.998' ... '22.000' '30.000' '16.000']]
1.5831485999951838